# Environment Variables
.env
backend/.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
backend/venv/
backend/.venv/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
backend/tripco.db
